<form id='dashboard-edit'>
  {{email}}
  <div id="low-transparency">
    <label class="checkbox">
      <input type="checkbox" name='low_transparency'>
      Low Transparency
    </label>
  </div>
  <label>DFP</label>
  <div id="dfp-campaigns">
    <select class='chosen-select' id='dfp-select' multiple>
    </select>
  </div>
  <label>SEM</label>
  <div id="adwords-customers">
    <select class='chosen-select' id='sem-select' multiple>
    </select>
  </div>

  <button id='save-btn' class='btn'>Save</button>

</form>
