<label class="checkbox {{#if transparencyChanged}}dirty{{/if}}">
  <input type="checkbox" data-low_transparency {{#if low_transparency}}checked{{/if}} name='low_transparency'>
  Low Transparency
</label>
